@model IDGS903_Tema1.Models.Triangulo

@{
    ViewBag.Title = "Triangulo";
}

<h2>Triangulo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Triangulo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.x1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.x1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.x1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.y1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.y1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.y1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.x2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.x2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.x2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.y2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.y2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.y2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.x3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.x3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.x3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.y3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.y3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.y3, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>




    <div>
        Resultado: @ViewBag.Resultado
    </div>
    <div>
        Area: @ViewBag.area
    </div>
    <div>
        Distancia 1: @ViewBag.Distancia1_2
    </div>
    <div>
        Distancia 2: @ViewBag.Distancia2_3
    </div>
    <div>
        Distancia 3: @ViewBag.Distancia3_1
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
